.product-publish-task-drawer {
  .ant-drawer-content-wrapper {
    max-width: 100vw;
  }

  .ant-drawer-body {
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .product-publish-task-drawer {
    .ant-drawer-content-wrapper {
      width: 100vw !important;
      max-width: 100vw;
    }

    .ant-drawer-header,
    .ant-drawer-body {
      padding-inline: 16px;
    }
  }
}
